nav li,a,ul{
    display: inline;
    padding: 8px;
    color: white;
    height: 100%;
    align-items: center;
    font-size: 20px;
    transition: 0.6s;
    margin-top:20px;
    }
    .right{
        margin-right: 100%;
    }
.acceuil,.profile,.propos{
        width: 25px;
        height: 20px;
        position: relative;
        margin-bottom: 0px;
    }
    
.logo{
    width: 35px;
    height: 25px;
    color: white;
    
    }
    .help{
    width: 35px;
    height: 25px;
    color: white;
    }
    h4{
        color: white;
        padding-right: 620px;
        }
    .nav1{
        background-color: #65B741;
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 0 2rem;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }