.nav2{
    background-color: #65B741;
        display: flex;
        height: 200px;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 0 2rem;
}
.lien1 {
    padding: 70px;
    margin-right: 30px;
    font-size: 30px;
    justify-content: space-between;
}
.lien2 {
    padding: 70px;
    margin-right: 50px;
    width: 50px;
    font-size: 30px;
    justify-content: space-between;
}
.num{
    margin-right: 30px;
    color: white;
    font-size: 20px;
}
.nav2 .name{
    color: white;
    font-size: 20px;

}