.footer{
    border-radius: 10px;
    box-shadow: 5px 5px hsl(0, 0%, 0%,0.1);
    padding: 30px;
    margin: 10px;
    width: 800px;
    height:500px;
    text-align: center;
    display: inline-block; 
    margin-left:350px;
    margin-top: 50px;
  
  }
  .footer h1{
    color: #416D19;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .footer textarea{
    background-color: white;
    color: #416D19;
    columns: 14;
    margin-left: 20px;
    border-color: #65B741;
    border-width: 2px;
    width: 500px;
  }
.btn2{
    border: none;
    height: 50px;
    width: 450px;
    color:#416D19;
    font-size: 16px;
    background-color:white;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 50px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
    cursor: pointer;
  }
  .btn1{ border: none;
    height: 50px;
    width: 450px;
    color:#416D19;
    font-size: 16px;
    background-color:white;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
    cursor: pointer;}
  button:hover {
    background-color: #416D19; 
    color: white;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }